* {
  outline: none;
  margin: 0;
  padding: 0; }

html, body {
  min-width: 1366px; }

a {
  text-decoration: none;
  color: #000000; }

li, ol {
  list-style-type: none; }

img {
  border: 0; }

button {
  border: 0;
  outline: none;
  cursor: pointer; }

input {
  color: transparent;
  text-shadow: 0 0 0 #000; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLyVFNyVBQiU5OSVFNyVCRSVBNC8lRTYlQTAlQTElRTUlOUIlQTIlRTUlQTclOTR2ZXIyL2Nzcy9pbml0LnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDSSxhQUFhO0VBQ2IsU0FBUztFQUNULFVBQVUsRUFBQTs7QUFHZDtFQUNJLGlCQUFpQixFQUFBOztBQUdyQjtFQUNJLHFCQUFxQjtFQUNyQixjQUFjLEVBQUE7O0FBR2xCO0VBQ0kscUJBQXFCLEVBQUE7O0FBR3pCO0VBQ0ksU0FBUyxFQUFBOztBQUdiO0VBQ0ksU0FBUztFQUNULGFBQWE7RUFDYixlQUFlLEVBQUE7O0FBR25CO0VBQ0ksa0JBQWtCO0VBQ2xCLHVCQUF1QixFQUFBIiwiZmlsZSI6ImluaXQuY3NzIn0= */