#banner {
  background: url("../images/hero.png");
  height: 282px; }

#body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  padding: 70px 0 98px;
  background: url("../images/bannerbg@2x.png") no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #body #article {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
    width: 1139px;
    padding: 62px 85px 62px 77px;
    box-sizing: border-box; }
    #body #article #main_title_box {
      margin-bottom: 112px;
      position: relative; }
      #body #article #main_title_box:after {
        position: absolute;
        content: '';
        display: block;
        width: 71px;
        height: 5px;
        background: #CD0708;
        border-radius: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -50px; }
      #body #article #main_title_box #title_box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        margin-bottom: 18px; }
        #body #article #main_title_box #title_box span {
          color: #3C3C3C;
          font-size: 18px;
          font-weight: normal;
          font-family: "";
          line-height: 18px; }
      #body #article #main_title_box #information_box {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center; }
        #body #article #main_title_box #information_box span {
          margin-right: 10px;
          color: #9C9C9C;
          font-size: 14px;
          font-weight: normal;
          font-family: "";
          line-height: 14px; }
          #body #article #main_title_box #information_box span:last-child {
            margin-right: 0; }
    #body #article #article_content_box #article_title, #body #article #article_content_box #article_short {
      text-align: center; }
    #body #article #article_content_box #article_title {
      margin-bottom: 20px;
      color: #000000;
      font-size: 24px;
      font-weight: normal;
      font-family: "";
      line-height: 24px; }
    #body #article #article_content_box #article_short {
      color: #000000;
      font-size: 16px;
      font-weight: normal;
      font-family: "";
      line-height: 16px;
      margin-bottom: 15px; }
    #body #article #article_content_box #article_content img {
      width: 639px;
      height: 426px;
      margin: 0 auto 35px;
      display: block; }
    #body #article #article_content_box #article_content p {
      margin-bottom: 35px;
      color: #000000;
      font-size: 14px;
      font-weight: normal;
      font-family: "";
      line-height: 20px; }
      #body #article #article_content_box #article_content p:last-child {
        margin-bottom: 0; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLyVFNyVBQiU5OSVFNyVCRSVBNC8lRTYlQTAlQTElRTUlOUIlQTIlRTUlQTclOTR2ZXIyL2Nzcy9kaXNwbGF5aW5mby5zY3NzIiwiLi4vLi4vLi4vJUU3JUFCJTk5JUU3JUJFJUE0LyVFNiVBMCVBMSVFNSU5QiVBMiVFNSVBNyU5NHZlcjIvY3NzL2ZvbnRNaXhpbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQW1EQTtFQUNJLHFDQUFxQztFQUNyQyxhQUFhLEVBQUE7O0FBR2pCO0VBQ0ksb0JBQWE7RUFBYixhQUFhO0VBQ2IscUJBQXVCO01BQXZCLHVCQUF1QjtFQUN2QixxQkFBdUI7TUFBdkIsdUJBQXVCO0VBQ3ZCLG9CQUFvQjtFQUNwQixzREFBc0Q7RUFDdEQsc0JBQXNCO0VBQ3RCLDRCQUE0QixFQUFBO0VBRTVCO0lBQ0ksbUJBQW1CO0lBQ25CLGtCQUFrQjtJQUNsQiw2Q0FBNkM7SUFDN0MsYUFBYTtJQUNiLDRCQUE0QjtJQUM1QixzQkFBc0IsRUFBQTtJQUV0QjtNQUNJLG9CQUFvQjtNQUNwQixrQkFBa0IsRUFBQTtNQUVsQjtRQUNJLGtCQUFrQjtRQUNsQixXQUFXO1FBQ1gsY0FBYztRQUNkLFdBQVc7UUFDWCxXQUFXO1FBQ1gsbUJBQW1CO1FBQ25CLGtCQUFrQjtRQUNsQixPQUFPO1FBQ1AsUUFBUTtRQUNSLGNBQWM7UUFDZCxhQUFhLEVBQUE7TUFHakI7UUFDSSxvQkFBYTtRQUFiLGFBQWE7UUFDYixxQkFBdUI7WUFBdkIsdUJBQXVCO1FBQ3ZCLG1CQUFtQixFQUFBO1FBRW5CO1VDL0ZkLGNBMEU0QjtVQXhFMUIsZUF3RWdDO1VBdkVoQyxtQkF1RXdDO1VBdEV4QyxlQXNFNEM7VUFwRTlDLGlCQW9Fb0QsRUFBQTtNRDBCMUM7UUFDSSxvQkFBYTtRQUFiLGFBQWE7UUFDYixxQkFBdUI7WUFBdkIsdUJBQXVCLEVBQUE7UUFFdkI7VUFDSSxrQkFBa0I7VUN6R3BDLGNBOEU0QjtVQTVFMUIsZUE0RWdDO1VBM0VoQyxtQkEyRXdDO1VBMUV4QyxlQTBFNEM7VUF4RTlDLGlCQXdFb0QsRUFBQTtVRDZCbEM7WUFDSSxlQUFlLEVBQUE7SUFTM0I7TUFDSSxrQkFBa0IsRUFBQTtJQUd0QjtNQUNJLG1CQUFtQjtNQzFIakMsY0FrRjRCO01BaEYxQixlQWdGZ0M7TUEvRWhDLG1CQStFd0M7TUE5RXhDLGVBOEU0QztNQTVFOUMsaUJBNEVvRCxFQUFBO0lENEMxQztNQzlIVixjQXNGNEI7TUFwRjFCLGVBb0ZnQztNQW5GaEMsbUJBbUZ3QztNQWxGeEMsZUFrRjRDO01BaEY5QyxpQkFnRm9EO01EMEN0QyxtQkFBbUIsRUFBQTtJQUluQjtNQUNJLFlBQVk7TUFDWixhQUFhO01BQ2IsbUJBQW1CO01BQ25CLGNBQWMsRUFBQTtJQUdsQjtNQUNJLG1CQUFtQjtNQzVJckMsY0EwRjRCO01BeEYxQixlQXdGZ0M7TUF2RmhDLG1CQXVGd0M7TUF0RnhDLGVBc0Y0QztNQXBGOUMsaUJBb0ZvRCxFQUFBO01EcURsQztRQUNJLGdCQUFnQixFQUFBIiwiZmlsZSI6ImRpc3BsYXlpbmZvLmNzcyJ9 */