#Footer {
  background-image: url("../images/bottombg@2x.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  padding-top: 58px;
  padding-bottom: 62px; }
  #Footer .footer-container {
    width: 1320px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    #Footer .footer-container .left {
      margin-right: 82px; }
      #Footer .footer-container .left .logo {
        width: 277px;
        height: 71px;
        margin-bottom: 18px; }
        #Footer .footer-container .left .logo img {
          width: 100%;
          height: 100%; }
      #Footer .footer-container .left .info p {
        font-size: 14px;
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 24px; }
    #Footer .footer-container .right {
      display: -ms-flexbox;
      display: flex; }
      #Footer .footer-container .right .link-list {
        margin-left: 27px;
        position: relative; }
        #Footer .footer-container .right .link-list:after {
          content: "";
          display: block;
          position: absolute;
          width: 2px;
          background-color: #FFFFFF;
          top: 0;
          left: -27px;
          height: 100%; }
        #Footer .footer-container .right .link-list .link-title {
          font-size: 20px;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
          font-weight: bold;
          color: #FFFFFF;
          margin-bottom: 45px; }
        #Footer .footer-container .right .link-list .link-container {
          font-size: 16px;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
          font-weight: 300;
          color: #FFFFFF; }
      #Footer .footer-container .right .qr-code-container {
        margin-left: 399px;
        display: -ms-flexbox;
        display: flex; }
        #Footer .footer-container .right .qr-code-container .qr-code:first-child {
          margin-right: 28px; }
        #Footer .footer-container .right .qr-code-container .qr-code .qr {
          width: 107px;
          height: 107px;
          position: relative;
          margin-bottom: 7px; }
          #Footer .footer-container .right .qr-code-container .qr-code .qr img {
            width: 100%;
            height: 100%; }
        #Footer .footer-container .right .qr-code-container .qr-code .name {
          font-size: 14px;
          font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZvb3Rlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxrREFBa0Q7RUFDbEQsc0JBQXNCO0VBQ3RCLDZCQUE2QjtFQUM3Qiw0QkFBNEI7RUFDNUIsaUJBQWlCO0VBQ2pCLG9CQUFvQixFQUFFO0VBQ3RCO0lBQ0UsYUFBYTtJQUNiLG9CQUFhO0lBQWIsYUFBYTtJQUNiLGNBQWMsRUFBRTtJQUNoQjtNQUNFLGtCQUFrQixFQUFFO01BQ3BCO1FBQ0UsWUFBWTtRQUNaLFlBQVk7UUFDWixtQkFBbUIsRUFBRTtRQUNyQjtVQUNFLFdBQVc7VUFDWCxZQUFZLEVBQUU7TUFDbEI7UUFDRSxlQUFlO1FBQ2Ysd0dBQXdHO1FBQ3hHLGlCQUFpQjtRQUNqQixjQUFjO1FBQ2QsaUJBQWlCLEVBQUU7SUFDdkI7TUFDRSxvQkFBYTtNQUFiLGFBQWEsRUFBRTtNQUNmO1FBQ0UsaUJBQWlCO1FBQ2pCLGtCQUFrQixFQUFFO1FBQ3BCO1VBQ0UsV0FBVztVQUNYLGNBQWM7VUFDZCxrQkFBa0I7VUFDbEIsVUFBVTtVQUNWLHlCQUF5QjtVQUN6QixNQUFNO1VBQ04sV0FBVztVQUNYLFlBQVksRUFBRTtRQUNoQjtVQUNFLGVBQWU7VUFDZix3R0FBd0c7VUFDeEcsaUJBQWlCO1VBQ2pCLGNBQWM7VUFDZCxtQkFBbUIsRUFBRTtRQUN2QjtVQUNFLGVBQWU7VUFDZix3R0FBd0c7VUFDeEcsZ0JBQWdCO1VBQ2hCLGNBQWMsRUFBRTtNQUNwQjtRQUNFLGtCQUFrQjtRQUNsQixvQkFBYTtRQUFiLGFBQWEsRUFBRTtRQUNmO1VBQ0Usa0JBQWtCLEVBQUU7UUFDdEI7VUFDRSxZQUFZO1VBQ1osYUFBYTtVQUNiLGtCQUFrQjtVQUNsQixrQkFBa0IsRUFBRTtVQUNwQjtZQUNFLFdBQVc7WUFDWCxZQUFZLEVBQUU7UUFDbEI7VUFDRSxlQUFlO1VBQ2Ysd0dBQXdHO1VBQ3hHLGlCQUFpQjtVQUNqQixjQUFjO1VBQ2Qsa0JBQWtCLEVBQUUiLCJmaWxlIjoiZm9vdGVyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiNGb290ZXIge1xyXG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uL2ltYWdlcy9ib3R0b21iZ0AyeC5wbmdcIik7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBsZWZ0IHRvcDtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gIHBhZGRpbmctdG9wOiA1OHB4O1xyXG4gIHBhZGRpbmctYm90dG9tOiA2MnB4OyB9XHJcbiAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciB7XHJcbiAgICB3aWR0aDogMTMyMHB4O1xyXG4gICAgZGlzcGxheTogZmxleDtcclxuICAgIG1hcmdpbjogMCBhdXRvOyB9XHJcbiAgICAjRm9vdGVyIC5mb290ZXItY29udGFpbmVyIC5sZWZ0IHtcclxuICAgICAgbWFyZ2luLXJpZ2h0OiA4MnB4OyB9XHJcbiAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLmxlZnQgLmxvZ28ge1xyXG4gICAgICAgIHdpZHRoOiAyNzdweDtcclxuICAgICAgICBoZWlnaHQ6IDcxcHg7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMThweDsgfVxyXG4gICAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLmxlZnQgLmxvZ28gaW1nIHtcclxuICAgICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICAgICAgaGVpZ2h0OiAxMDAlOyB9XHJcbiAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLmxlZnQgLmluZm8gcCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxNHB4O1xyXG4gICAgICAgIGZvbnQtZmFtaWx5OiAtYXBwbGUtc3lzdGVtLCBCbGlua01hY1N5c3RlbUZvbnQsIEhlbHZldGljYSBOZXVlLCBQaW5nRmFuZyBTQywgTWljcm9zb2Z0IFlhSGVpLCBzYW5zLXNlcmlmO1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgICAgIGNvbG9yOiAjRkZGRkZGO1xyXG4gICAgICAgIGxpbmUtaGVpZ2h0OiAyNHB4OyB9XHJcbiAgICAjRm9vdGVyIC5mb290ZXItY29udGFpbmVyIC5yaWdodCB7XHJcbiAgICAgIGRpc3BsYXk6IGZsZXg7IH1cclxuICAgICAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciAucmlnaHQgLmxpbmstbGlzdCB7XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDI3cHg7XHJcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlOyB9XHJcbiAgICAgICAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciAucmlnaHQgLmxpbmstbGlzdDphZnRlciB7XHJcbiAgICAgICAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgICB3aWR0aDogMnB4O1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI0ZGRkZGRjtcclxuICAgICAgICAgIHRvcDogMDtcclxuICAgICAgICAgIGxlZnQ6IC0yN3B4O1xyXG4gICAgICAgICAgaGVpZ2h0OiAxMDAlOyB9XHJcbiAgICAgICAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciAucmlnaHQgLmxpbmstbGlzdCAubGluay10aXRsZSB7XHJcbiAgICAgICAgICBmb250LXNpemU6IDIwcHg7XHJcbiAgICAgICAgICBmb250LWZhbWlseTogLWFwcGxlLXN5c3RlbSwgQmxpbmtNYWNTeXN0ZW1Gb250LCBIZWx2ZXRpY2EgTmV1ZSwgUGluZ0ZhbmcgU0MsIE1pY3Jvc29mdCBZYUhlaSwgc2Fucy1zZXJpZjtcclxuICAgICAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgICAgICAgY29sb3I6ICNGRkZGRkY7XHJcbiAgICAgICAgICBtYXJnaW4tYm90dG9tOiA0NXB4OyB9XHJcbiAgICAgICAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciAucmlnaHQgLmxpbmstbGlzdCAubGluay1jb250YWluZXIge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxNnB4O1xyXG4gICAgICAgICAgZm9udC1mYW1pbHk6IC1hcHBsZS1zeXN0ZW0sIEJsaW5rTWFjU3lzdGVtRm9udCwgSGVsdmV0aWNhIE5ldWUsIFBpbmdGYW5nIFNDLCBNaWNyb3NvZnQgWWFIZWksIHNhbnMtc2VyaWY7XHJcbiAgICAgICAgICBmb250LXdlaWdodDogMzAwO1xyXG4gICAgICAgICAgY29sb3I6ICNGRkZGRkY7IH1cclxuICAgICAgI0Zvb3RlciAuZm9vdGVyLWNvbnRhaW5lciAucmlnaHQgLnFyLWNvZGUtY29udGFpbmVyIHtcclxuICAgICAgICBtYXJnaW4tbGVmdDogMzk5cHg7XHJcbiAgICAgICAgZGlzcGxheTogZmxleDsgfVxyXG4gICAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLnJpZ2h0IC5xci1jb2RlLWNvbnRhaW5lciAucXItY29kZTpmaXJzdC1jaGlsZCB7XHJcbiAgICAgICAgICBtYXJnaW4tcmlnaHQ6IDI4cHg7IH1cclxuICAgICAgICAjRm9vdGVyIC5mb290ZXItY29udGFpbmVyIC5yaWdodCAucXItY29kZS1jb250YWluZXIgLnFyLWNvZGUgLnFyIHtcclxuICAgICAgICAgIHdpZHRoOiAxMDdweDtcclxuICAgICAgICAgIGhlaWdodDogMTA3cHg7XHJcbiAgICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICAgICAgICBtYXJnaW4tYm90dG9tOiA3cHg7IH1cclxuICAgICAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLnJpZ2h0IC5xci1jb2RlLWNvbnRhaW5lciAucXItY29kZSAucXIgaW1nIHtcclxuICAgICAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgICAgIGhlaWdodDogMTAwJTsgfVxyXG4gICAgICAgICNGb290ZXIgLmZvb3Rlci1jb250YWluZXIgLnJpZ2h0IC5xci1jb2RlLWNvbnRhaW5lciAucXItY29kZSAubmFtZSB7XHJcbiAgICAgICAgICBmb250LXNpemU6IDE0cHg7XHJcbiAgICAgICAgICBmb250LWZhbWlseTogLWFwcGxlLXN5c3RlbSwgQmxpbmtNYWNTeXN0ZW1Gb250LCBIZWx2ZXRpY2EgTmV1ZSwgUGluZ0ZhbmcgU0MsIE1pY3Jvc29mdCBZYUhlaSwgc2Fucy1zZXJpZjtcclxuICAgICAgICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgICAgICAgY29sb3I6ICNGRkZGRkY7XHJcbiAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7IH1cclxuXHJcbi8qIyBzb3VyY2VNYXBwaW5nVVJMPWZvb3Rlci5jc3MubWFwICovXHJcbiJdfQ== */