#Header {
  background-color: #CD0708;
  background-image: url("../images/navbg@2x.png");
  background-repeat: no-repeat;
  background-size: auto 154px;
  background-position-x: right;
  padding: 22px 0 24px 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  #Header .header-icons > div:first-child {
    margin-right: 243px; }
  #Header .header-icons > div:last-child {
    margin-left: 243px; }
  #Header .header-icons .league-motto, #Header .header-icons .league-icon {
    display: inline-block;
    vertical-align: middle; }
  #Header .header-icons .league-icon .tw-logo, #Header .header-icons .league-icon .tw-text-logo {
    display: inline-block;
    vertical-align: middle; }
  #Header .header-icons .league-icon .tw-logo {
    margin-right: 19px;
    width: 104px;
    height: 106px;
    position: relative; }
    #Header .header-icons .league-icon .tw-logo img {
      width: 100%;
      height: 100%; }
  #Header .header-icons .league-icon .tw-text-logo h1 {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #fff;
    line-height: 30px;
    padding-bottom: 2px; }
  #Header .header-icons .league-icon .tw-text-logo h2 {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #fff; }
  #Header .header-icons .league-motto {
    width: 243px;
    height: 108px;
    position: relative; }
    #Header .header-icons .league-motto img {
      height: 100%;
      width: 100%; }
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uLyVFNyVBQiU5OSVFNyVCRSVBNC8lRTYlQTAlQTElRTUlOUIlQTIlRTUlQTclOTR2ZXIyL2Nzcy9oZWFkZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLQTtFQUVRLHlCQUxrQjtFQU1sQiwrQ0FBb0M7RUFDcEMsNEJBQWlCO0VBQ2pCLDJCQUFnQjtFQUNoQiw0QkFBaUI7RUFFckIsc0JBQXNCO0VBQ3RCLGtCQUFrQjtFQUNsQixvQkFBYTtFQUFiLGFBQWE7RUFDYixxQkFBdUI7TUFBdkIsdUJBQXVCLEVBQUE7RUFFbkI7SUFDSSxtQkFBbUIsRUFBQTtFQUV2QjtJQUNJLGtCQUFrQixFQUFBO0VBRXRCO0lBQ0kscUJBQXFCO0lBQ3JCLHNCQUFzQixFQUFBO0VBR3RCO0lBQ0kscUJBQXFCO0lBQ3JCLHNCQUFzQixFQUFBO0VBRTFCO0lBQ0ksa0JBQWtCO0lBQ2xCLFlBQVk7SUFDWixhQUFhO0lBQ2Isa0JBQWtCLEVBQUE7SUFDbEI7TUFDSSxXQUFXO01BQ1gsWUFBWSxFQUFBO0VBSWhCO0lBRVEsd0dBM0M0RTtJQTRDNUUsbUJBQWM7SUFDZCxlQUFVO0lBRWQsV0FBVztJQUNYLGlCQUFpQjtJQUNqQixtQkFBbUIsRUFBQTtFQUV2QjtJQUVRLHdHQXJENEU7SUFzRDVFLG1CQUFjO0lBQ2QsZUFBVTtJQUVkLGlCQUFpQjtJQUNqQixXQUFXLEVBQUE7RUFJdkI7SUFDSSxZQUFZO0lBQ1osYUFBYTtJQUNiLGtCQUFrQixFQUFBO0lBQ2xCO01BQ0ksWUFBWTtNQUNaLFdBQVcsRUFBQSIsImZpbGUiOiJoZWFkZXIuY3NzIn0= */