$background-color: #F7F7F7;
$hover-background-color: #CD0708;
$hover-sub-background-color: #860606;
$font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,sans-serif;$input-background-color: #E5E5E5;

#Navigator {
    background: {
        color: $background-color;
    };
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    .nav-container {
        display: flex;
        &>li {
            //display: inline-block;
            //vertical-align: top;
        }
        &>li:nth-child(2), &>li:nth-child(3), &>li:nth-child(7) {
            transition: background-color .3s ease, color .3s ease;
            &:hover {
                background-color: $hover-background-color;
                color: #fff;
                .sub-nav-container {
                    visibility: visible;
                }
            }
        }
        &>.nav-sel {
            position: relative;
            line-height: 18px;
            background: {
                color: $background-color;
            };
            a {
                color: inherit;
                display: block;
                padding: 18px 17px 19px 17px;
                span {
                    font: {
                        size: 20px;
                        family: $font-family;
                        weight: 400;
                    };
                }
            }
            .sub-nav-container {
                position: absolute;
                top: 100%;
                visibility: hidden;
                background: inherit;
                a {
                    padding-top: 14px;
                    padding-bottom: 15px;
                    transition: background-color .3s ease;
                    color: inherit;
                    &:hover {
                        background-color: $hover-sub-background-color;
                    }
                }
            }
        }
        .nav-sel {
            a {
                display: block;
            }
        }
        .search-container {
            background-color: $input-background-color;
            padding: 14px 0 15px 27px;
            margin-left: 16px;
            display: flex;
            button {
                background-color: inherit;
                width: 27px;
                height: 27px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            input {
                width: 258px;
                padding-left: 7px;
                background-color: inherit;
                border: 0;
                font-size: 20px;
                font-family: $font-family;
                font-weight: 400;
                color: #909090;
            }
        }
    }
}
