.wp_nav {
    margin: 0px;
    padding: 0px;
    display: block;
}

.wp_nav * {
    margin: 0px;
    padding: 0px;
}

.wp_nav::after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
}

.wp_nav .nav-item {
    float: none !important;
    display: block !important;
}

.wp_nav .on {
    z-index: 10;
}

.wp_nav .nav-item .mark {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
}

.wp_nav .nav-item a {
    font-family: "Microsoft Yahei";
    display: block;
    text-align: unset;
    position: relative;
    z-index: 100;
}

.wp_nav .nav-item a.parent:hover {
}

.wp_nav .nav-item a.parent {
    color: #393939;
}

.wp_nav .nav-item a span.item-name {
    display: unset;
    line-height: unset;
    text-align: unset;
    color: #393939;
    cursor: pointer;
}

.wp_nav .sub-nav {
    display: none !important;
    width: 100%;
    position: absolute;
    z-index: 200;
    visibility: hidden;
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-image: initial;
    border-top: none;
}

.wp_nav .sub-nav .nav-item {
    white-space: nowrap;
}

.wp_nav .sub-nav .nav-item .mark {
    background: rgb(255, 255, 255);
}

.wp_nav .sub-nav .nav-item a {
    font-family: "Microsoft Yahei";
    font-size: 13px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    border-top: 1px solid rgb(216, 225, 204);
    min-width: 80px;
}

.wp_nav .sub-nav .nav-item a.parent:hover {
    background: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

.wp_nav .sub-nav .nav-item a.parent {
    background: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
}

.wp_nav .sub-nav .nav-item a span.item-name {
    padding: 5px 10px;
    line-height: 22px;
}

.wp_nav .nav-item a.parent:hover span.item-name {
}

.wp_nav .nav-item a.parent span.item-name {
}

.wp_nav .sub-nav .nav-item a.parent:hover span.item-name {
}

.wp_nav .sub-nav .nav-item a.parent span.item-name {
}
