<!-- 图文标题混排-->
<!--LeftPart-->
<div ifrag="块" class="work-process-left-part" outsysclass="false" blockname="block1"
     outputregular="{b:{r:0,c:0,t:0},s:{t:'i',v:'0,1'},c:6}">
    <div ifrag="行" outer="true" inner="true" class="work-process-left-sel" colsclasses="" cyclebegin="true"
         cycleend="true" cyclecount="1">
        <div ifrag="条目" outer="false" inner="true" cellclass="" cyclebegin="true" cycleend="true" cyclecount="1">
            <a ifrag="链接" type="文章链接">
                <div class="image">
                    <span ifrag="字段" type="缩略图" class="">
                        <label ifrag="字段内容"></label>
                    </span>
                </div>
                <div class="detail">
                    <div class="news-title">
                        <div class="main-title">
                            <span ifrag="字段" type="标题" class="">
                                <label ifrag="字段内容">这里是标题！</label>
                            </span>
                        </div>
                        <div class="sub-title">
                            <span ifrag="字段" type="简介">
                                <label ifrag="字段内容">这里是内容！</label>
                            </span>
                        </div>
                    </div>
                    <div class="date">
                            <span>

                            </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
