<style>
    /*针对Banner的样式调整*/
    .Banner .banner-container .banner-sel {
        overflow: hidden;
    }
</style>

<ul ifrag="块" class="banner-container" outsysclass="false" blockname="block1"
    outputregular="{b:{r:0,c:0,t:0},s:{t:'i',v:'0,1'},c:6}">
    <li ifrag="行" outer="true" inner="true" class="banner-sel" colsclasses="" cyclebegin="true" cycleend="true"
        cyclecount="1">
        <div ifrag="条目" outer="false" inner="true" cellclass="" cyclebegin="true" cycleend="true" cyclecount="1">
            <a ifrag="链接" type="文章链接">
                        <div ifrag="字段" type="缩略图" class="banner-img">
                            <label ifrag="字段内容"></label>
                        </div>
                <div ifrag="字段" type="标题" class="banner-title">
                                <h3 ifrag="字段内容">这里是标题！</h3>
                            </div>
            </a>
        </div>
    </li>
</ul>
