#Footer .link-container a {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}
