<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共青团中国海洋大学委员会</title>
    <link rel="stylesheet" href="/_upload/tpl/08/73/2163/template2163/css/init.css">
    <link rel="stylesheet" href="/_upload/tpl/08/73/2163/template2163/css/header.css">
    <link rel="stylesheet" href="/_upload/tpl/08/73/2163/template2163/css/navigator.css">
    <link rel="stylesheet" href="/_upload/tpl/08/73/2163/template2163/css/body.css">
    <link rel="stylesheet" href="/_upload/tpl/08/73/2163/template2163/css/footer.css">
    <script src="/_upload/tpl/08/73/2163/template2163/lib/polyfill.min.js"></script>
    <style>
        /*针对搜索框的样式*/
        .search-container form {
            display: flex;
            justify-content: center;
        }

        .search-container .search {
            position: absolute;
            width: 100% !important;
            height: 100% !important;
            left: 0 !important;
            top: 0 !important;
            padding: 0 !important;
            z-index: 10 !important;
            cursor: pointer;
        }
    </style>
    <style>
        /*针对Banner的样式调整*/
        .Banner .banner-container .banner-sel {
            overflow: hidden;
        }
    </style>

</head>
<body>
<div id="Header">
    <div class="header-icons">
        <div class="league-icon">
            <a href="/_upload/tpl/08/73/2163/template2163/./">
                <div class="tw-logo">
                    <img src="/_upload/tpl/08/73/2163/template2163/images/tw.png" alt="">
                </div>
                <div class="tw-text-logo">
                    <h1>
                        共青团中国海洋大学委员会
                    </h1>
                    <h2>
                        Committee of Communist Youth League of OUC
                    </h2>
                </div>
            </a>
        </div>
        <div class="league-motto">
            <img src="/_upload/tpl/08/73/2163/template2163/images/slogan@2x.png" alt="" class="tw-motto">
        </div>
    </div>
</div>

<nav id="Navigator">
    <div class="nav-container">
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口01">首页</div>
        </div>
        <div class="nav-sel multi-sel">
            <div class="temp">团委概况</div>
            <div class="sub-nav-container">
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口02">团委介绍</div>
                </div>
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口03">岗位设置</div>
                </div>
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口04">工作人员</div>
                </div>
            </div>
        </div>
        <div class="nav-sel multi-sel">
            <div class="temp">思想引领</div>
            <div class="sub-nav-container">
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口05">主题教育</div>
                </div>
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口06">青马工程</div>
                </div>
            </div>
        </div>
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口07">社会实践</div>
        </div>
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口08">创新创业</div>
        </div>
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口09">校园文化</div>
        </div>
        <div class="nav-sel multi-sel">
            <div class="temp">规章制度</div>
            <div class="sub-nav-container">
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口10">上级文件</div>
                </div>
                <div class="nav-sel sub-nav-sel">
                    <div class="temp" frag="窗口11">团委文件</div>
                </div>
            </div>
        </div>
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口12">学生社团</div>
        </div>
        <div class="nav-sel single-sel">
            <div class="temp" frag="窗口13">学生组织</div>
        </div>
        <div class="search-container">
            <div class="temp" frag="窗口14">

            </div>
        </div>
    </div>
</nav>

<div id="Banner" class="Banner" frag="窗口15">

</div>

<div id="Body">
    <!--    通知和工作动态类-->
    <div class="work-display-and-notice">
        <div class="work-display">
            <div class="title">
                <div class="panel-name">
                    工作<span class="red-font">动态</span>
                </div>
                <div class="more">
                    <a href="/_upload/tpl/08/73/2163/template2163/./">
                        更多
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="left" frag="窗口16">

                </div>
                <div class="right" frag="窗口17">

                </div>
            </div>
        </div>
        <div class="notice">
            <div class="title">
                <div class="panel-name">
                    公告<span class="red-font">通知</span>
                </div>
                <div class="more">
                    <a href="/_upload/tpl/08/73/2163/template2163/./">
                        更多
                    </a>
                </div>
            </div>
            <ul class="notice-container">
                <li class="notice-sel">
                    <a href="">
                        <div class="time">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                        <div class="notice-title">
                           <span>
                               毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP
                           </span>
                        </div>
                    </a>
                </li>
                <li class="notice-sel">
                    <a href="">
                        <div class="time">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                        <div class="notice-title">
                           <span>
                               毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP
                           </span>
                        </div>
                    </a>
                </li>
                <li class="notice-sel">
                    <a href="">
                        <div class="time">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                        <div class="notice-title">
                           <span>
                               毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP
                           </span>
                        </div>
                    </a>
                </li>
                <li class="notice-sel">
                    <a href="">
                        <div class="time">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                        <div class="notice-title">
                           <span>
                               毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP
                           </span>
                        </div>
                    </a>
                </li>
                <li class="notice-sel">
                    <a href="">
                        <div class="time">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                        <div class="notice-title">
                           <span>
                               毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP毕生情•海大梦 中国海洋大学AABBCCDDEEFFGGHHIIJJKKLLMMNNOOP
                           </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="focus-front-and-utils">
        <div class="focus-front">
            <div class="title">
                <div class="panel-name">
                    聚焦<span class="red-font">一线</span>
                </div>
                <div class="more">
                    <a href="/_upload/tpl/08/73/2163/template2163/./">
                        更多
                    </a>
                </div>
            </div>
            <ul class="focus-container">
                <li class="focus-sel">
                    <a href="">
                        <div class="focus-title">
                            <div class="main-title">
                                毕生情•海大梦 中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                            <div class="sub-title">
                                这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                        </div>
                        <div class="date">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                    </a>
                </li>
                <li class="focus-sel">
                    <a href="">
                        <div class="focus-title">
                            <div class="main-title">
                                毕生情•海大梦 中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                            <div class="sub-title">
                                这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                        </div>
                        <div class="date">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                    </a>
                </li>
                <li class="focus-sel">
                    <a href="">
                        <div class="focus-title">
                            <div class="main-title">
                                毕生情•海大梦 中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                            <div class="sub-title">
                                这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                        </div>
                        <div class="date">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                    </a>
                </li>
                <li class="focus-sel">
                    <a href="">
                        <div class="focus-title">
                            <div class="main-title">
                                毕生情•海大梦 中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                            <div class="sub-title">
                                这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                        </div>
                        <div class="date">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                    </a>
                </li>
                <li class="focus-sel">
                    <a href="">
                        <div class="focus-title">
                            <div class="main-title">
                                毕生情•海大梦 中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                            <div class="sub-title">
                                这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV这是内文引用这是内文引用这是内文文引用这文引用这XFSDGADFRGHJRTJRTJRSJSRJRSRJRJRJRTFBSV毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF毕生情•海大梦
                                中国海洋大学AABBCCCCDEEEFFFGGHHIJJKKLLTTTGBNMZFBZFF
                            </div>
                        </div>
                        <div class="date">
                            <div class="month">
                                06-24
                            </div>
                            <div class="year">
                                2020
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="utils">
            <div class="main-utils">
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/xuexi@2x.png" alt="" width="46px">
                        </div>
                        <div class="name">
                            青年大学习
                        </div>
                    </a>
                </div>
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/gongchandang@2x.png" alt="" width="42px">
                        </div>
                        <div class="name">
                            学党史
                        </div>
                    </a>
                </div>
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/niao02@2x.png" alt="" width="38px">
                        </div>
                        <div class="name">
                            青鸟计划
                        </div>
                    </a>
                </div>
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/jia@2x.png" alt="" width="44px">
                        </div>
                        <div class="name">
                            希望小屋
                        </div>
                    </a>
                </div>
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/fanchuan@2x.png" alt="" width="47px">
                        </div>
                        <div class="name">
                            团建领航计划
                        </div>
                    </a>
                </div>
                <div class="main-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/chengjidan@2x.png" alt="" width="40px" style="margin-left: 5px;">
                        </div>
                        <div class="name">
                            第二课堂成绩单
                        </div>
                    </a>
                </div>
            </div>
            <div class="other-utils">
                <div class="other-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/xiazai@2x.png" alt="" width="42px">
                        </div>
                        <div class="name">
                            常用下载
                        </div>
                    </a>
                </div>
                <div class="other-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/shenqing@2x.png" alt="" width="36px">
                        </div>
                        <div class="name">
                            场地申请
                        </div>
                    </a>
                </div>
                <div class="other-util">
                    <a href="">
                        <div class="img">
                            <img src="/_upload/tpl/08/73/2163/template2163/./images/bi@2x.png" alt="" width="40px">
                        </div>
                        <div class="name">
                            信息上报
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Youth">
    <div class="title">
        <div class="panel-name">
            海大<span class="red-font">青年</span>
        </div>
    </div>
    <ul class="youth-list">
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
        <li class="youth-sel">
            <a href="">
                <div class="img">
                    <img src="/_upload/tpl/08/73/2163/template2163/./images/test/3.jpg" alt="">
                </div>
                <div class="name">
                    产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行产教融合 学以致用 中国海洋大学第十一届商
                    业实训大赛举行
                </div>
            </a>
        </li>
    </ul>
    <div class="more">
        <a href="">
            查看更多
        </a>
    </div>
</div>

<div id="Footer">
    <div class="footer-container">
        <div class="left">
            <div class="logo">
                <img src="/_upload/tpl/08/73/2163/template2163/./images/bottomlogo@2x.png" alt="">
            </div>
            <div class="info">
                <p>
                    © 共青团中国海洋大学委员会 版权所有
                </p>
                <p>
                    地址：青岛市崂山区松岭路238号 邮编：266100
                </p>
                <p>
                    <span>
                        电话：0532-66782834
                    </span>
                    <span>
                        0532-66782782
                    </span>
                    <span>
                        Email：tuanwei@ouc.edu.cn
                    </span>
                </p>
            </div>
        </div>
        <div class="right">
            <div class="link-list">
                <div class="link-title">
                    友情链接
                </div>
                <div class="link-container">
                    <div class="link">
                        共青团中央
                    </div>
                    <div>
                        山东共青团
                    </div>
                    <div>
                        山东省学联
                    </div>
                    <div>
                        中国海洋大学
                    </div>
                </div>
            </div>
            <div class="qr-code-container">
                <div class="qr-code">
                    <div class="qr">
                        <img src="/_upload/tpl/08/73/2163/template2163/./images/wechat.jpg" alt="">
                    </div>
                    <div class="name">
                        官方微信
                    </div>
                </div>
                <div class="qr-code">
                    <div class="qr">
                        <img src="/_upload/tpl/08/73/2163/template2163/./images/weibo.jpg" alt="">
                    </div>
                    <div class="name">
                        官方微博
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--   <script src="/_upload/tpl/08/73/2163/template2163/js/index.js"></script>-->
<script>
    const statusEnum = {
        DONE: 1,
        ERR: 0
    }

    const elementName = {
        BANNER_CONTAINER: ".banner-container",
        BANNER_SEL: ".banner-sel",
        BANNER_IMG: `${this.BANNER_SEL} img`,
        BUTTON_SEL: ".button_container .button_sel"
    }

    const attrEnum = {
        TRANSITION_TRANSFORM: `transform 1s ease-in-out`,
        TRANSITION_OPACITY: `opacity .3s ease-in-out`,
        NONE: 'none',
        SELECTED: 'selected'
    }

    const bannerConfig = {
        bannerNumber: 7,
        bannerWidth: 0,
        timeout: 1000,
        currentIndex: 1 // 从 1 开始但是包含 0 位
    }

    let bannerTimer = null;
    let resetBannerTimer = null;

    /**
     *
     * @param q
     * @returns {{data: *, status: number}}
     */
    function getElement(q) {
        try {
            return {
                status: statusEnum.DONE,
                data: document.querySelector(q)
            };
        } catch (e) {
            return {
                status: statusEnum.ERR,
                data: e.toString()
            }
        }
    }

    /**
     *
     * @param number
     * @returns {string}
     */
    function toPX(number) {
        return `${number}px`;
    }

    /**
     *
     * @param number
     * @returns {string}
     */
    function toTranslate(number) {
        return `translateX(${toPX(number)})`
    }

    /**
     *
     * @param fn
     * @param delay
     */
    function debounce(fn, delay) {
        let timer = null;
        return function () {
            if (timer) {
                clearTimeout(timer);
            } else {
                timer = setTimeout(fn, delay);
            }a
        }
    }

    /**
     *
     * @param q
     * @returns {{data: string, status: number}|{data: *[], status: number}}
     */
    function getElements(q) {
        try {
            return {
                status: statusEnum.DONE,
                data: [
                    ...document.querySelectorAll(q)
                ]
            }
        } catch (e) {
            return {
                status: statusEnum.ERR,
                data: e.toString()
            }
        }
    }

    /**
     * 为DOM设置属性
     * @param target: DOMElement
     * @param arr: {}
     */
    function setAttr(target, arr) {
        try {
            Object.assign(target.style, arr)
        } catch (e) {
            console.error(e);
        }
    }

    /**
     *
     * @returns {number}
     */
    function toTranslatePX(currIndex = bannerConfig.currentIndex) {
        return -currIndex * bannerConfig.bannerWidth;
    }

    /**
     *
     * @param location: number
     */
    function adjustBanner(location = -bannerConfig.bannerWidth) {
        const bannerContainer = getElement(elementName.BANNER_CONTAINER).data;
        const bannerSelList = getElements(elementName.BANNER_SEL).data;
        bannerConfig.bannerWidth = document.body.offsetWidth;
        location = toTranslatePX();
        setAttr(bannerContainer, {
            width: toPX(bannerConfig.bannerWidth * bannerConfig.bannerNumber),
            transform: toTranslate(location)
        });
        bannerSelList.forEach(e => {
            setAttr(e, {
                width: toPX(bannerConfig.bannerWidth)
            });
        });
    }

    function clearPreButton() {
        const buttons = getElements(elementName.BUTTON_SEL).data;
        buttons[bannerConfig.currentIndex - 1].classList.remove(attrEnum.SELECTED);
    }

    function setCurrentButton(index) {
        const buttons = getElements(elementName.BUTTON_SEL).data;
        buttons[index === bannerConfig.bannerNumber - 1 ? 0 : bannerConfig.currentIndex - 1].classList.add(attrEnum.SELECTED);
    }

    function toNextPage() {
        const bannerContainer = getElement(elementName.BANNER_CONTAINER).data;
        let index = bannerConfig.currentIndex + 1;
        let nextLocation = toTranslate(toTranslatePX(index));
        // console.log(index);
        clearPreButton();
        setAttr(bannerContainer, {
            transform: nextLocation,
            transition: attrEnum.TRANSITION_TRANSFORM
        });
        if (index === bannerConfig.bannerNumber - 1) {
            resetBannerTimer = setTimeout(() => {
                console.log('resetting...');
                setAttr(bannerContainer, {
                    transition: attrEnum.NONE,
                    transform: toTranslate(toTranslatePX(1))
                });
                bannerConfig.currentIndex = 1;
            }, 1000);
        }
        bannerConfig.currentIndex = index;
        setCurrentButton(index);
    }

    function setPage(index) {
        let i = index;
        return function()  {
            const bannerContainer = getElement(elementName.BANNER_CONTAINER).data;
            const buttons = getElements(elementName.BUTTON_SEL).data;
            let nextLocation = toTranslate(toTranslatePX(i));
            clearInterval(bannerTimer);
            clearPreButton();
            setAttr(bannerContainer, {
                transform: nextLocation,
                transition: attrEnum.TRANSITION_TRANSFORM
            });
            buttons[i - 1].classList.add(attrEnum.SELECTED);
            playStart();
            bannerConfig.currentIndex = i;
        }
    }

    /**
     *
     */
    function playStart() {
        bannerTimer = setInterval(() => {
            toNextPage();
        }, 3000);
    }

    /**
     *
     * @param tagName
     * @param attr
     */
    function createElement(tagName, attr) {
        let tag = document.createElement(tagName);
        Object.assign(tag, attr);
        return tag;
    }

    function initBanner() {
        const list = getElements(".banner-container .banner-sel").data;
        const container = getElement(".banner-container").data;
        const banner = getElement(".Banner").data;
        list.forEach(i => {
            let container = i.querySelector("a");
            let img = i.querySelector(".banner-img img");
            let title_container = document.createElement("h3");
            title_container.innerText = i.querySelector(".banner-title").innerText;
            container.appendChild(img);
            container.appendChild(title_container);
            i.querySelector(".banner-img").remove();
            i.querySelector(".banner-title").remove();
        });
        let fakeFirst = list[list.length - 1].cloneNode(true);
        let fakeLast = list[0].cloneNode(true);
        container.insertBefore(fakeFirst, list[0]);
        container.appendChild(fakeLast);
        let btnContainer = createElement("ul", {
            className: "button_container"
        });
        for (let i = 0; i < bannerConfig.bannerNumber - 2; i++) {
            let btn = createElement("li", {
                className: i === 0 ? "button_sel selected" : "button_sel"
            });
            btnContainer.appendChild(btn);
        }
        banner.appendChild(btnContainer);

        bannerConfig.bannerWidth = document.body.offsetWidth;
        const buttons = getElements(elementName.BUTTON_SEL).data;
        buttons.forEach((i, index) => {
            i.onclick = setPage(index + 1);
        });
    }

    window.onresize = () => {
        debounce(() => {
            adjustBanner();
        }, 200)();
    }

    /**
     * 初始化函数
     */
    (function () {
        initBanner();
        adjustBanner();
        playStart();

        setTimeout(() => {
            const {'data': bannerContainer} = getElement(elementName.BANNER_CONTAINER);
            setAttr(bannerContainer, {
                transition: `${attrEnum.TRANSITION_TRANSFORM},${attrEnum.TRANSITION_OPACITY}`,
                opacity: 1
            });
        }, 0);
    })();

</script>
</html>
