#header {
  background: #CD0708;
}

#header .header_logo_panel {
  background: url("../images/navbg@2x.png") no-repeat;
  background-size: cover;
  padding: 25px 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .header_logo_panel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header_logo_panel .container .left {
  margin-right: 351px;
}

#header .header_logo_panel .container .left .youth_logo .logo, #header .header_logo_panel .container .left .youth_logo .text {
  vertical-align: middle;
}

#header .header_logo_panel .container .left .youth_logo .logo {
  width: 104px;
  height: 106px;
  margin-right: 19px;
}

#header .header_logo_panel .container .left .youth_logo .text {
  width: 397px;
  height: 68px;
}

#header .header_logo_panel .container .right {
  width: 243px;
  height: 108px;
}

#header .header_logo_panel .container .right img {
  width: 100%;
  height: 100%;
}

#header .header_navigator {
  padding: 13px 0 0;
}

#header .header_navigator .navigator_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .header_navigator .navigator_container .nav_item {
  display: inline-block;
  border-radius: 17px;
  padding: 8px 17px 10px 18px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "";
  line-height: 16px;
  position: relative;
  cursor: pointer;
}

#header .header_navigator .navigator_container .temp {
  margin-bottom: 9px;
}

#header .header_navigator .navigator_container .temp .nav_link {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

#header .header_navigator .navigator_container .temp .nav_link:hover {
  background: #860606;
}

#header .header_navigator .navigator_container .extend_button .child_list {
  width: 98px;
  top: 42px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #CD0708;
  position: absolute;
  z-index: 999;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  overflow: hidden;
}

#header .header_navigator .navigator_container .extend_button .child_list .child_list_item {
  text-align: center;
  display: block;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  font-family: "";
  line-height: 16px;
  padding: 13px 0 14px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#header .header_navigator .navigator_container .extend_button .child_list .child_list_item:hover {
  background: #860606;
}

#header .header_navigator .navigator_container .extend_button .shown {
  visibility: visible;
  opacity: 1;
}

#footer {
  background: url("../images/bottombg@2x.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 78px 0 71px;
}

#footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .container .left {
  margin-right: 235px;
  margin-bottom: 3px;
}

#footer .container .left .top {
  width: 340px;
  height: 87px;
}

#footer .container .left .top img {
  width: 100%;
  height: 100%;
}

#footer .container .right .info {
  text-align: right;
}

#footer .container .right .info .rights, #footer .container .right .info .address, #footer .container .right .info .connect {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  font-family: "";
  line-height: 24px;
}

#footer .container .right .info .rights {
  margin-bottom: 17px;
}

#banner {
  background: url("../images/hero.png");
  height: 282px;
}

#body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 70px 0 98px;
  background: url("../images/bannerbg@2x.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#body #article {
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  width: 1139px;
  padding: 62px 85px 62px 77px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body #article #main_title_box {
  margin-bottom: 112px;
  position: relative;
}

#body #article #main_title_box:after {
  position: absolute;
  content: '';
  display: block;
  width: 71px;
  height: 5px;
  background: #CD0708;
  border-radius: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -50px;
}

#body #article #main_title_box #title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}

#body #article #main_title_box #title_box span {
  color: #3C3C3C;
  font-size: 18px;
  font-weight: normal;
  font-family: "";
  line-height: 18px;
}

#body #article #main_title_box #information_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body #article #main_title_box #information_box span {
  margin-right: 10px;
  color: #9C9C9C;
  font-size: 14px;
  font-weight: normal;
  font-family: "";
  line-height: 14px;
}

#body #article #main_title_box #information_box span:last-child {
  margin-right: 0;
}

#body #article #article_content_box #article_title, #body #article #article_content_box #article_short {
  text-align: center;
}

#body #article #article_content_box #article_title {
  margin-bottom: 20px;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
  font-family: "";
  line-height: 24px;
}

#body #article #article_content_box #article_short {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  font-family: "";
  line-height: 16px;
  margin-bottom: 15px;
}

#body #article #article_content_box #article_content img {
  width: 639px;
  height: 426px;
  margin: 0 auto 35px;
  display: block;
}

#body #article #article_content_box #article_content p {
  margin-bottom: 35px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  font-family: "";
  line-height: 20px;
}

#body #article #article_content_box #article_content p:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=displayinfo.css.map */